<div id="popup">
	<h4>
		<a href="" ng-click="returns()"> &lt; </a>
		{{popup_1}}
	</h4>
	<img ng-src="{{popup_2}}" />
	<h1>{{popup_3}}</h1>
	<p id="popup_p1">{{popup_4}}</p>
	<div id="popup_bottom">
		<span id="popup_bottom_p1"><a href="" class="fa fa-heart-o"><br/>收藏</a></span>
		<span id="popup_bottom_p2">添加商品:</span>
		<span id="popup_bottom_p3">
			<button ng-click="reduce1(x)">▬</button>
			<span class="num">{{popup_5}}</span>
			<button ng-click="add1(x)">✚</button>
		</span>
		<span id="popup_bottom_p4"><a ui-sref="cart" class="fa fa-shopping-cart"></a></span>
	</div>
</div>