#main {
  padding: 1.40625rem 0; }
  #main .swiper-container {
    height: 3.95rem;
    width: 10rem;
    overflow: hidden; }
    #main .swiper-container .swiper-wrapper div a {
      display: inline-block;
      height: 3.95rem;
      width: 10rem; }
      #main .swiper-container .swiper-wrapper div a img {
        width: 100%;
        height: 100%; }
  #main nav {
    width: 100%;
    background: #fff;
    margin: 0.416667rem 0; }
    #main nav ul {
      overflow: hidden; }
      #main nav ul li {
        width: 25%;
        float: left;
        text-align: center; }
        #main nav ul li a img {
          width: 100%; }
        #main nav ul li a span {
          font-size: 0.4rem; }
  #main #imgs2 {
    width: 100%;
    overflow-x: scroll; }
    #main #imgs2::-webkit-scrollbar {
      width: 0px; }
    #main #imgs2 ul {
      width: 133%;
      overflow: hidden; }
      #main #imgs2 ul li {
        width: 25%;
        float: left; }
        #main #imgs2 ul li a img {
          width: 100%;
          border-right: 0.00001rem solid #ccc; }
  #main #CVS {
    width: 100%;
    background: #fff;
    margin: 0.416667rem 0; }
    #main #CVS #CVS_topImg {
      width: 100%; }
    #main #CVS #HOT {
      width: 100%;
      overflow: hidden; }
      #main #CVS #HOT a {
        width: 50%;
        padding: 10px;
        float: left; }
        #main #CVS #HOT a img {
          width: 100%; }
    #main #CVS ul {
      overflow: hidden; }
      #main #CVS ul li {
        width: 25%;
        float: left;
        text-align: center; }
        #main #CVS ul li a img {
          width: 100%; }
        #main #CVS ul li a span {
          font-size: 0.4rem; }
    #main #CVS #CVS_bottomImg {
      width: 100%;
      overflow: hidden;
      overflow-x: scroll; }
      #main #CVS #CVS_bottomImg::-webkit-scrollbar {
        width: 0px; }
      #main #CVS #CVS_bottomImg #CVS_bottomImgS {
        width: 200%; }
        #main #CVS #CVS_bottomImg #CVS_bottomImgS a {
          width: 25%;
          float: left;
          border-top: 1px solid #ccc;
          border-right: 1px solid #ccc; }
          #main #CVS #CVS_bottomImg #CVS_bottomImgS a img {
            width: 100%; }
  #main #divs div {
    width: 100%;
    background: #fff;
    margin-top: 0.5rem; }
    #main #divs div .divs_p {
      width: 100%;
      padding: 0 0.3rem; }
      #main #divs div .divs_p span {
        color: darkorange;
        border-left: 0.3rem solid darkorange;
        padding-left: 0.3rem; }
      #main #divs div .divs_p a {
        float: right;
        color: #555;
        font-size: 0.4rem; }
    #main #divs div .divs_topImg {
      width: 95%;
      margin: 0.2rem; }
    #main #divs div ul {
      width: 100%;
      overflow: hidden; }
      #main #divs div ul li {
        width: 33%;
        float: left;
        border-right: 1px solid #ccc;
        font-size: 0.39rem;
        color: black; }
        #main #divs div ul li img {
          width: 100%; }
        #main #divs div ul li p {
          line-height: 0.9rem;
          padding: 0 0.3rem; }
        #main #divs div ul li .divs_p1 {
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
        #main #divs div ul li .divs_p2 {
          color: red;
          border: 1px solid red;
          padding: 3px;
          border-radius: 3px;
          margin-left: 0.3rem; }
        #main #divs div ul li .divs_p3 {
          display: inline-block;
          color: #fff;
          background: red;
          padding: 3px;
          border-radius: 3px;
          margin-left: 0.3rem;
          margin-top: 0.2rem; }
        #main #divs div ul li .divs_p4 {
          color: #555; }
        #main #divs div ul li .divs_p5 {
          color: orangered;
          position: relative; }
          #main #divs div ul li .divs_p5 span {
            text-decoration: line-through;
            color: #555; }
          #main #divs div ul li .divs_p5 .divs_p6 {
            width: 1rem;
            line-height: 1rem;
            text-align: center;
            font-size: 0.6rem;
            color: orangered;
            background: #fff;
            border: 1px solid orangered;
            border-radius: 200px;
            position: absolute;
            right: 0.3rem;
            top: -0.3rem; }
        #main #divs div ul li .divs_p7 {
          display: none; }

#popup {
  width: 10rem;
  height: 17.8rem;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center;
  display: none; }
  #popup h4 {
    width: 100%;
    line-height: 1.7rem;
    background: #eee;
    border-bottom: 1px solid #ccc;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0; }
    #popup h4 a {
      display: inline-block;
      width: 1rem;
      float: left;
      font-size: 1.2rem;
      color: #555; }
  #popup img {
    width: 100%;
    margin-top: 1.7rem;
    padding: 0.4rem;
    height: 9.6rem; }
  #popup h1 {
    font-size: 0.8rem; }
  #popup #popup_p1 {
    color: orangered;
    font-size: 0.7rem; }
  #popup #popup_bottom {
    width: 100%;
    height: 1.7rem;
    border-top: 1px solid #ccc;
    position: absolute;
    left: 0;
    bottom: 0; }
    #popup #popup_bottom #popup_bottom_p1 {
      margin: 0.3rem 0.4rem;
      float: left;
      color: black; }
      #popup #popup_bottom #popup_bottom_p1 a {
        font-size: 0.5rem;
        color: black; }
    #popup #popup_bottom #popup_bottom_p2 {
      float: left;
      margin: 0.5rem 0.4rem; }
    #popup #popup_bottom #popup_bottom_p3 {
      float: left;
      margin: 0.3rem 0.6rem; }
      #popup #popup_bottom #popup_bottom_p3 button {
        display: inline-block;
        width: 1rem;
        line-height: 1rem;
        color: orangered;
        background: #fff;
        border: 1px solid #D5D5D5;
        border-radius: 500px; }
    #popup #popup_bottom #popup_bottom_p4 {
      width: 2rem;
      line-height: 2rem;
      font-size: 1rem;
      background: yellow;
      border-radius: 500px;
      border-top: 1px solid #ccc;
      position: absolute;
      top: -0.6rem;
      right: 0.2rem; }
      #popup #popup_bottom #popup_bottom_p4 a {
        color: #fff;
        width: 100%;
        height: 100%; }
