
<div id="main">
	<!--轮播-->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div ng-repeat="x in slide" class="swiper-slide">
				<a><img ng-src="{{x.activity.img}}"></a>
			</div>
		</div>
		<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
	</div>

	<!--导航-->
	<nav>
		<ul>
			<li ng-repeat="x in nav">
				<a href="">
					<img ng-src="{{x.activity.img}}" />
					<span>{{x.activity.name}}</span>
				</a>
			</li>
		</ul>
	</nav>

	<!--酸奶女王-->
	<div id="imgs2">
		<ul>
			<li ng-repeat="x in nav2">
				<a><img ng-src="{{x.activity.img}}" /></a>
			</li>
		</ul>
	</div>

	<!--便利店-->
	<div id="CVS">
		<img ng-src="{{cvs}}" id="CVS_topImg"/>
		<div id="HOT">
			<a href=""  ng-repeat="x in cvs2"><img ng-src="{{x.cactivity_detail.img}}"/></a>
		</div>
		<ul>
			<li ng-repeat="x in cvs3">
				<a href="">
					<img ng-src="{{x.cicons_detail.img}}" />
					<span>{{x.cicons_detail.name}}</span>
				</a>
			</li>
		</ul>
		<div id="CVS_bottomImg">
			<div id="CVS_bottomImgS">
				<a href=""  ng-repeat="x in cvs4"><img ng-src="{{x.cscene_detail.img}}"/></a>
			</div>
		</div>
	</div>
	
	<!--优选水果-->
	<div id="divs">
		<div ng-repeat="w in divs">
			<p class="divs_p">
				<span style="color:#{{w.category_detail.category_color}};border-left:0.3rem solid #{{w.category_detail.category_color}}">{{w.category_detail.name}}</span>
				<a ui-sref="market({idNum:w['category_detail']['category_id']})">更多></a>
			</p>
			<img ng-src="http://img01.bqstatic.com/{{w.category_detail.shuf_new_img}}" class="divs_topImg"/>
			<ul>
				<li ng-repeat="x in w.category_detail.goods">
					<a href="" ng-click="divs2($index,$event)">
						<img ng-src="{{x.img}}" class="divs_img"/>
					</a>
					<p class="divs_p1">{{x.keywords}}</p>
					<span class="divs_p2">精选</span><br />
					<span class="divs_p3">限时特价</span>
					<p class="divs_p4">{{x.specifics}}</p>
					<p class="divs_p5">
						<b>￥{{x.partner_price}}</b>
						<span>￥{{x.market_price}}</span>
						<i class="divs_p7">{{james[x.id].num}}</i>
						<a href="" class="divs_p6" ng-click="add(x)">✚</a>
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<!--详情页-->
<!--<div id="popup">
	<h4>
		<a href="" ng-click="returns()"> &lt; </a>
		{{popup_1}}
	</h4>
	<img ng-src="{{popup_2}}" />
	<h1>{{popup_3}}</h1>
	<p id="popup_p1">{{popup_4}}</p>
	<div id="popup_bottom">
		<span id="popup_bottom_p1"><a href="" class="fa fa-heart-o"><br/>收藏</a></span>
		<span id="popup_bottom_p2">添加商品:</span>
		<span id="popup_bottom_p3">
			<button ng-click="reduce1(x)">▬</button>
			<span class="num">{{popup_5}}</span>
			<button ng-click="add1(x)">✚</button>
		</span>
		<span id="popup_bottom_p4"><a ui-sref="cart" class="fa fa-shopping-cart"></a></span>
	</div>
</div>-->